:root {
    --primiry-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --hero-color: #FFFFFF;
    --background-black: #2F303A;
    --background-main: #E5E5E5;
}
body {
    font-family: roboto, sans-serif;
    color: #212121;
    font-size: 14px;
    background: #FFFFFF;
    letter-spacing: 0.03em;
}
ul {
    list-style: none;
}
/* лого */
.logo {
    font-family: Raleway, sans-serif;
    color: #2196F3;
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-black {
    color: #212121;
}
/* навигация */
.nav .link {
    font-weight: 500px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.nav .link:hover,
.nav .link:focus {
    color: #2196F3;
}
.nav .current {
    color: #2196F3;
}
/* авторизация */
.auth .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.auth .link:hover,
.auth .link:focus {
    color: #2196F3;
}
/* заказ */
.hero {
    background-color: #2F303A;
}
.hero .hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .hero-btn {
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
/* секция деятельность и преимущества */
.section {
    background: #E5E5E5;
}
/* преимущества */
.section-list .title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.section-list .text {
    line-height: 1.71;
    color: #757575;
}
/* деятельность */
.section-title {
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
}
/* наша команда */
.section-team {
    background: #F5F4FA;
}
.section-list .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.section-list .job {
    color: #757575;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
/* подвал */
footer {
    background-color: rgba(47, 48, 58, 1);
}
.logo-white {
    color: #FFFFFF;
}
.list-adress .link {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.list-adress .link:hover,
.list-adress .link:focus {
    color: #2196F3;
}
.link .adress-white {
    color: #FFFFFF;
}
/* портфолио */
/* кнопки */
.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover,
.button:focus {
    color: #FFFFFF;
    background: #2196F3
}
/* главная */
.menu-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.menu-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}