:root {
    --primiry-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --hero-color: #FFFFFF;
    --background-black: #2F303A;
    --background-main: #E5E5E5;
}

body {
    font-family: roboto, sans-serif;
    color: var(--primiry-text-color);
    font-size: 14px;
    background: var(--hero-color);
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

/* лого */
.logo {
    font-family: Raleway, sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-black {
    color: var(--primiry-text-color);
}

/* навигация */
nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primiry-text-color);
    text-decoration: none;
}

.nav .link:hover,
.nav .link:focus {
    color: var(--accent-color);
}

nav .current {
    color: var(--accent-color);
}

/* авторизация */
.auth .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.auth .link:hover,
.auth .link:focus {
    color: var(--accent-color);
}

/* заказ */
.hero {
    background-color: var(--background-black);
}

.hero .hero-title {
    color: var(--hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .hero-btn {
    color: var(--hero-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

/* секция деятельность и преимущества */
.section {
    background: var(--background-main);
}

/* преимущества */
.section-list .title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-list .text {
    line-height: 1.71;
    color: var(--text-color);
}

/* деятельность */
.section-title {
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
}

/* наша команда */
.section-team {
    background: #F5F4FA;
}

.section-list .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.section-list .job {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* подвал */
footer {
    background-color: var(--background-black);
}

.logo-white {
    color: var(--hero-color);
}

.list-adress .link {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.list-adress .link:hover,
.list-adress .link:focus {
    color: var(--accent-color);
}

.link .adress-white {
    color: var(--hero-color);
}


/* портфолио */

/* кнопки */
.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--hero-color);
    background: var(--accent-color)
}

/* главная */

.menu-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.menu-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}