:root {
    --primiry-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --hero-color: #FFFFFF;
    --background-black: #2F303A;
    --background-main: #E5E5E5;
}

body {
    font-family: roboto, sans-serif;
    color: var(--primiry-text-color);
    font-size: 14px;
    background: var(--hero-color);
    letter-spacing: 0.03em;
}

h1,h2,h3,p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.conteiner {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* лого */

.header {
    display: flex;
    align-items: center;
}
.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: Raleway, sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-black {
    color: var(--primiry-text-color);
}

/* навигация */
.nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

.nav-list{
    display: flex;
    margin-left: 93px;
}

.nav-list .item:not(:last-child) {
    margin-right: 50px;
}

.nav-list .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primiry-text-color);
    text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color);
}

.nav-list .current {
    color: var(--accent-color);
}

/* контакты */

.contact{
    display: flex;
    margin-left: auto;
}
.contact .item:not(:last-child){
    margin-right: 50px;
}

.contact .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

/* секциии */
.section {
    background: var(--background-main);
    padding-top: 94px;
    padding-bottom: 94px;
}

/* заказ */

.bg-order {
    background: var(--background-black);
}
.bg-order {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero {
    text-align: center;
}

.hero .title {
    margin-bottom: 20px;
    color: var(--hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    
    color: var(--hero-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    min-width: 200px;
}

/* секция деятельность */
.section-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
.activ-list {
    display: flex;
}
.activ-list .item:not(:last-child) {
    margin-right: 30px;
}

/* преимущества */
.diferent {
    padding-bottom: 0;
}

.none {
    display: none;
}
.section-list {
    display: flex;
}
.section-list .item:not(:last-child) {
    margin-right: 30px;
}

.section-list .title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-list .text {
    line-height: 1.71;
    color: var(--text-color);
    min-width: 270px;
}

/* наша команда */
.team {
    background: #F5F4FA;
}

.list-team {
    display: flex;
}
.list-team .item-team {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px ;
}
.list-team .item:not(:last-child) {
    margin-right: 30px;
}
.worker {
    padding-top: 30px;
    padding-bottom: 30px;
}
.list-team .name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.list-team .job {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* подвал */
footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-white {
    color: var(--hero-color);
}

.list-adress .link {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.list-adress .link:hover,
.list-adress .link:focus {
    color: var(--accent-color);
}

.link .adress-white {
    color: var(--hero-color);
}


/* портфолио */

/* кнопки */
.button {
    font-family: inherit;
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--hero-color);
    background: var(--accent-color)
}

/* главная */

.menu-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.menu-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}